* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategray;
}

.header {
    position: fixed;
    
}

.navigation {
    display: flex;
    /*border: 1px solid black;*/
    align-items: center;
    justify-content: space-between;
    /*gap: 250px;*/
    position: fixed;
    
    flex-grow: 1;
    top: 0;
    width: 100vw;
    height: 8vh;
    background: hsl(180, 100%, 94%, 0.9);
    padding: 10px;
    
    
}

ul {
    list-style-type: none;
    text-decoration: none;

}

a:link {
    text-decoration: none;
    color: lightslategray;
}
a:hover {
    opacity: .7;
}

a:active {
    text-decoration: none;
    font-style: italic;
}

a:visited {
    text-decoration: none;
    color: lightslategray
}

.navbar {
    display: flex;
    gap: .5em;
    justify-content: flex-end;
    /*border: 1px solid orange;*/
    list-style-type: none;
    flex: auto;
    padding: 1em;

}

.navbar a {
    display: flex;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 20px;
    background: hsl(36, 100%, 90%, 0.4);
    /*
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;*/
}

form {
    padding: 1em;

}

.social-media {
    display: flex;
    padding-bottom: .2em;
    font-size: 1.5em;
    /*border: 1px solid purple;*/
    /*justify-content: flex-end;*/
    gap: 5px;
    flex-direction: row;
    flex-grow: 1;
}


footer {
    padding-top: 5px;
    /*background: hsl(36, 100%, 90%, 0.4);*/
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    padding: 6px;
    width: 100%;
    /*border: 1px solid purple;*/
}
.social-media-copyright {
    display: flex;
    /*flex-grow: 1;*/
    margin-top: 10px;
    justify-content: flex-end;
    /*
    border: 1px solid pink;*/
    flex-direction: column;
}
.contact-info {
    flex-grow: 1;
    flex-direction: column;
    justify-content: stretch;
    margin-top: 0;
    /*flex-grow: 1;
    border: 1px solid orange;*/
      
}

.copyright {
    font-size: 0.7em;
    /*justify-content: flex-start;*/
    margin-top: 2px;
    opacity: .5;
    /*
    border: 1px solid gray;*/
  
}
.contact-info p {
    margin: 0px;
    justify-content: flex-start;
    padding: 3px;
    
}

@media screen and (min-width: 600px) {
footer {
    display: flex;
    flex-direction: column;
    /*border: 1px solid green;*/
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    /*margin-left: 5px;
    border: 1px solid gray;*/
}

.social-media {
    font-size: 1.8em;
}

.copyright {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
}
}
.social-media a {
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;

}
.contact-info {
    display: flex;
    align-items: flex-start;

}